.service{
    background-color: var(--light);
}

.service-presentation{
    width: 90%;
    max-width: 150rem;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-presentation article{
    width: 45%;
}

.service-presentation aside{
    width: 48%;
}

.service-presentation aside img{
    width: 100%;
}

.service-presentation h1{
    margin-bottom: 2rem;
}

.service-presentation p{
    margin-bottom: 2rem;
}

.service-presentation button{
    margin: 0;
    margin-right: 5rem;
}

.service-presentation > figure{
    margin: 0;
}

@media screen and (max-width:1024px){
    .service-presentation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 8rem;
    }
    .service-presentation aside{
        display: none;
    }
    .service-presentation article{
        width: 90%;
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-presentation aside{
        order: 1;
        margin-bottom: 3rem;
    }
    .service-presentation button{
        margin: 0;
    }
    .service-presentation .button-secondary{
        margin-top:2rem;
    }
}

@media screen and (max-width:1185px) and (min-width:1024px){
    .service-presentation .button-secondary{
        margin-top: 2rem;
    }
}

figure{
    overflow-x: hidden;
}

.wave-immobilier{
    width: 102%;
}

.service-more{
    background-color: var(--secondary);
}

.service-more-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    margin: auto;
    color: var(--light);
    padding: 10rem 5rem;
}

.service-more-container h2{
    text-align: center;
    margin-bottom: 5rem;
}

.service-more-explain{
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--light);
    border-radius: 15px;
    padding: 5rem 3rem;
}

.service-more-explain > *{
    padding: 0 5rem;
}

.service-more-explain div:last-child{
    border-left: 2px solid var(--light);
}

.service-more-explain > div p:not(:last-child){
    margin-bottom: 2rem;
}

.service-more-container > p{
    margin: 5rem 10rem;
}

@media screen and (max-width:1024px){
    .service-more-container{
        padding: 5rem;
    }
    .service-more-explain{
        flex-direction: column;
        padding: 2rem;
    }
    .service-more-explain div:last-child{
        border: none;
    }
    .service-more-explain > div p{
        margin-bottom: 2rem;
    }
    .service-more-explain > *{
        padding: .5rem;
        padding-bottom: 0;
    }
    .service-more-container > p{
        margin: 3rem;
    }
}